:root{
    --primary-color:#35406d;
    --secondary-color:#142748;
    --tertiary-color:#525b82;
    --quartiary-color:#333;
    --login-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/* TOP BAR */
.topBarCss {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: #fff;
}

.titleCss {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.titleCss div{
    margin-left: 15px;
    font-size: 20px;
    font-family: 'Segoe UI';
}
/* //TOP BAR */

/* CENTER */
.containerCss {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--primary-color);
    color: #fff;
}

.childCssOne{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130%;
    height: 600px;
    background-color: var(--tertiary-color);
    border-radius: 20px;
}
.childCssTwo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 600px;
    background-color: var(--login-color);
    border-radius: 20px;
}
/* LOGIN  */
.cardTop{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.cardTop>p {
    color: rgb(110, 110, 110);
}
.imagemDefault {
    border-radius: 50px;
    width: 100px;
    box-shadow: 1px 1px 5px #ccc;
}
.cardFooter>input {
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 25px;
    padding: 5px;
    border: 0px;
    box-shadow: 1px 1px 5px #ccc;
}
/* // LOGIN */
/* //CENTER */
/* FOOTER */
.footerCss {
    display: flex;
    background-color: var(--quartiary-color);
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px;
    height: 10vh;
    width: 100%;
}

.rightFooterCss{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.itemFooter {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.itemFooter>p{
    font-size: 13px;
}
/* //FOOTER */