:root{
    --primary-color:#35406d;
    --secondary-color:#142748;
    --tertiary-color:#525b82;
    --quartiary-color:#333;
    --login-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* TOP BAR */
.topBarCss {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    color: #fff;
}

.titleCss {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
/* //TOP BAR */

/* CENTER */
.containerCss {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--primary-color);
    color: #fff;
}

.childCssOne{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 450px;
    background-color: var(--tertiary-color);
    border-radius: 20px;
}
.childCssTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 450px;
    background-color: var(--login-color);
    border-radius: 20px;
}
/* //CENTER */
/* FOOTER */
.footerCss {
    display: flex;
    background-color: var(--quartiary-color);
    color: #fff;
    height: 60px;
    width: 100%;
}
/* //FOOTER */